@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
} */

@layer base {
  html {
    @apply bg-slate-950 text-slate-100;
  }
}

.btn {
  @apply flex-col w-12 h-12 text-[10px] bg-primary text-black px-2 rounded-full font-medium flex items-center justify-center active:scale-95 transition-transform hover:bg-secondary hover:text-[#aebac1] duration-200;
}
