@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" sans-serif;
  text-align: center;
  background: var(--dark);
  color: var(--white);
}
html {
  font-size: 62.5%;
}

:root {
  --primary: #00e9aa;
  --secondary: rgb(235, 255, 250);
  --dark: rgb(27, 41, 37);
  --white: #fff;
  --color-error: red;

  --rounded-01: 8px;
  --rounded-02: 14px;
  --rounded-03: 50px;
  --rounded-full: 50%;
}

body::-webkit-scrollbar-thumb {
  background: rgb(185, 239, 224, 0.2);
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(45, 72, 65, 0.2);
}
::-webkit-scrollbar-track {
  background-color: rgb(185, 239, 224, 0.1);
}
button {
  cursor: pointer;
}

.button {
  padding: 8px 20px;
  font-size: 1.2rem;
  border-radius: var(--rounded-03);
  font-weight: 500;
  margin-bottom: 40px;
  transition: 0.25s;
}

.container-px {
  padding: 0 5%;
}

@media screen and (max-width: 414px) {
  .button {
    font-size: 1.4rem;
  }
}

.button:active {
  transform: translateY(2px);
}

.button-primary {
  color: var(--white);
  background: var(--primary);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.bx {
  font-size: 2rem;
}

@media screen and (max-width: 568px) {
  .button-highlighted {
    z-index: -900;
  }
}

.border-red {
  border: 1px solid var(--color-error) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}
