.nav__container {
  position: fixed;
  right: 0;
  /* background-color: var(--dark); */
  backdrop-filter: blur(
    12px
  ); /* Adjust the blur value as per your preference */
  background-color: rgba(64, 64, 64, 0.5);
  min-height: 60px;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 1000;
}

.nav__image {
  height: 40px;
  margin-top: 5px;
}

.nav__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  max-width: 550px;
  width: 100%;
}

.nav_items li a {
  font-size: 1.8rem;
  color: rgb(255, 254, 254);
  transition: all 0.25s ease-in-out;
}
.nav_items li a:hover,
.nav_items li .active {
  color: var(--primary);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav_items {
    max-width: 500px;
  }
}
@media screen and (max-width: 810px) {
  .nav_items {
    display: none;
  }

  .nav_mobile {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
  }
  .nav_mobile.show {
    height: auto;
    transition: height 0.3s ease;
  }

  .nav_mobile.show .nav_items {
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    max-width: 100%;
    min-height: 300px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
}
