.contactMe {
  display: flex;
  padding-top: 70px !important;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
}

.form__div {
  min-height: 450px;
  border-radius: var(--rounded-01);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.form__div h2 {
  white-space: nowrap;
  margin-left: 10px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: var(--primary);
  margin-top: 5px;
  position: absolute;
}

.form__div form {
  width: 50%;
  padding: 10px;
  font-size: 1.6rem;
  background: white;
  position: relative;
  color: var(--dark);
  margin: 70px 10px 10px;
  border-radius: var(--rounded-01);
}
.form__div form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.form__div form input::placeholder,
.form__div form textarea::placeholder {
  color: rgb(176, 202, 184);
}

.form__div form input,
.form__div form textarea {
  background: rgb(231, 231, 231);
  display: block;
  border-radius: var(--rounded-01);
  padding: 5px 10px;
  width: 100%;
  resize: none;
  border: 2px solid transparent;
  margin-bottom: 15px;
}

.form__div form input:focus,
.form__div form textarea:focus {
  background: white;
  border: 2px solid var(--primary);
}

.form__div form textarea {
  min-height: 100px;
}

.form__div form div {
  width: 100%;
  display: flex;
}

.form__div form button {
  padding: 2px 20px;
  border: 2px solid transparent;

  background: var(--primary);
  color: var(--dark);
  border-radius: var(--rounded-01);
  left: 10px;
  font-weight: 600;
  transition: all 0.25s;
}

.form__div form button:hover {
  border: 2px solid var(--primary);
  background: var(--dark);
  color: var(--primary);
}

.contact__extra {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  position: relative;
  justify-content: center;
}

.contact__extra h3 {
  font-weight: 600;
  color: var(--primary);
}
.contact__extra h3,
.contact__extra p {
  margin: 10px 0;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.contact__extra .contact__img {
  width: 100%;
}

.contact__extra .contact__img img {
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

@media screen and (max-width: 800px) {
  .form__div {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 0 10px;
  }
  .form__div form,
  .contact__extra {
    width: 100%;
  }
  .contact__extra {
    margin-top: 50px;
  }

  .form__div form {
    margin-top: 20px;
  }
  .form__div form textarea {
    min-height: 140px;
  }
}
