.profile__container {
  display: block;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;
  padding: 100px 0 0;
  z-index: 0;
  width: 100vw;
  position: relative;
}

.profile__container::before {
  content: "";
  position: absolute;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../../assets/background/2773233.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.75;

  z-index: -1;
}

.profile-parent {
  display: flex;
  width: 100%;
  margin-bottom: -170px;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
}

.profile__details {
  flex: 1;
  text-align: left;
}

.profile__details-name {
  font-size: 2.5rem;
  font-weight: 500;
}

.profile__details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px;
}

.profile__details-role h1 {
  font-size: 4rem;
}
.primary__text {
  color: var(--white);
}

.primary__text h1 {
  margin-bottom: 20px;
}
.highlighted-text {
  color: var(--primary);
}

.profile-role_tagline {
  font-size: 2rem;
  margin: 5px 0 0 0;
  font-weight: 300;
}

.profile__image {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 var(--white);
  height: 380px;
  width: 380px;
  border-radius: var(--rounded-full);
  margin: 40px 0 100px;
}
.profile__image-box {
  height: 92%;
  width: 92%;
  transition: 0.25s;
}

.profile__image-background {
  background-image: url(../../assets/kj-dev.png);
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--rounded-full);
}

.profile__image-box:hover {
  transform: scale(1.07);
  z-index: 1;
}

.profile__image-background::before {
  position: absolute;
  content: "";
  background: var(--secondary);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: var(--rounded-full);
  opacity: 0.55;
  z-index: -1;
}

.cols .cols__icon i {
  color: var(--white);
  margin: 8px 4px;
  transition: 0.25s;
}

.cols .cols__icon i:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1110px) {
  .profile__image {
    margin: 0px 0 100px;
  }

  .profile__details-name {
    font-size: 2rem;
  }
  .profile__details-role .primary__text {
    font-size: 1.2rem;
  }

  .profile__options .btn {
    padding: 11px auto;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile__image {
    height: 320px;
    width: 320px;
  }
}

@media screen and (max-width: 810px) {
  .profile__image {
    margin: 0;
  }

  .profile-parent {
    flex-direction: column-reverse;
  }

  .profile__details {
    margin: 25px 0 70px;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .profile__details {
    margin: 25px 0 100px;
  }
}

@media screen and (max-width: 375px) {
  .profile__image {
    height: 275px;
    width: 275px;
  }
}
